<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="{% url 'js-catlog' %}"></script>
    <script src="{% static '/admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
    <title>Follow @kira.boi</title>
    <style>body {
        display: flex; 
        justify-content: center; 
        flex-direction: column;
        min-height: 100vh;
    }
    body p {
        align-self: center; 
    }
</style>
</head>
<body>
    {{ form.media }}
    {{ form.as_p }}
</body>
</html>